.product {
  overflow: hidden;
  .row {
    display: flex;
    flex-wrap: wrap;
    .col {
      width: calc(100% / 3);
      padding: 0 15px;
      .item {
        box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
        animation: fadeInDown 1s;
        animation-fill-mode: both;
        img {
          width: 100%;
        }
      }
      @for $i from 0 to 6 {
        .item-#{$i + 1} {
          animation-delay: 0.5s * $i;
        }
      }
    }
  }

  @media screen and (max-width: 576px) {
    background-color: red;
    .row {
      .col {
        width: 100%;
      }
    }
  }
}

@keyframes fadeInDown {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
